extends layout.pug
block mainForm
    .section
        .form-group.h1
            span Company
        .form-group
            label Corporate Name
            input(
                data-smart="input"
                name="company"
                type="text"
            )
        .form-group
            label Address
            textarea(
                data-smart="input"
                name="address"
            )
        .form-group
            label City,State,Zip
            input(
                data-smart="input"
                name="city"
                placeholder='City'
                style='flex: 6'
            )
            input(
                data-smart="input"
                name="state"
                placeholder='State'
                style='flex:1'
            )
            input(
                data-smart="input"
                name="postCode"
                placeholder='Postal Code'
                style='flex:2'
            )
    .section
        .form-group.h2.nowrap
            span Employee
            .spacer
            button(data-smart = {
                action: "addItem",
                for: "employee",
            }) ➕
            button(data-smart = {
                action: "removeItem",
                for: "employee",
                to: "*",
                keep_non_empty: true,
            }, title="Clear all empty employee") 🧹
        .form-group.nowrap
            .form-group(data-smart = {
                type: "list",
                exportEmpties: true,
                name: "employee",
                min_items: 0,
            })
                .form-group(data-smart={
                    exportEmpties: false
                })
                    fieldset.form-group
                        .form-group.spacer
                            .form-group
                                label First Name
                                input(
                                    data-smart="input"
                                    name="name"
                                )
                            .form-group
                                label Last Name
                                input(
                                    data-smart="input"
                                    name="lastName"
                                )
                            .spacer
                            button(data-smart = {
                                action: "removeItem",
                            }) ➖
                        .form-group
                            .form-group
                                label Phones
                                div(data-smart = {
                                    name: "phones",
                                    type: "list",
                                    of: "singleton",
                                    max_items: 3,
                                })
                                    .form-group.no-wrap
                                        button(data-smart = {
                                            action: "addItem",
                                        }) ➕
                                        input(data-smart="input" type='tel')
                                        button(data-smart = {
                                            action: "removeItem",
                                        }) ➖

                            .form-group
                                label Emails
                                div(data-smart = {
                                    name: "emails",
                                    type: "list",
                                    of: "singleton",
                                    max_items: 3,
                                })
                                    .form-group.no-wrap
                                        button(data-smart = {
                                            action: "addItem",
                                        }) ➕
                                        input(data-smart="input" type='email')
                                        button(data-smart = {
                                            action: "removeItem",
                                        }) ➖
