extends layout.pug
block mainForm
    .section
        .form-group.h1
            button.foldButton.folded(
                data-smart={
                    action: "fold",
                    for: "company",
                    foldedClass: "folded",
                }
            )
            span Company
        div(
            data-smart={
                type: "form",
                name: "company",
                folded: true,
            }
        )
            .form-group
                label Corporate Name
                input(
                    data-smart
                    name="company"
                    type="text"
                    placeholder="Company Name"
                )
            .form-group
                label Address
                textarea(
                    data-smart
                    name="address"
                    placeholder="Address"
                )
            .form-group
                label City,State,Zip
                input(
                    data-smart
                    name="city"
                    placeholder='City'
                    style='flex: 6'
                )
                input(
                    data-smart
                    name="state"
                    placeholder='State'
                    style='flex:1'
                )
                input(
                    data-smart
                    name="postCode"
                    placeholder='Postal Code'
                    style='flex:2'
                )
    .section
        .form-group.h2.no-wrap
            button.foldButton.folded(
                data-smart={
                    action: "fold",
                    for: "employees",
                    foldedClass: "folded",
                }
            )
            span Employees (
            span(data-smart={
                action: "count",
                for: "employees",
            })
            span )
            .spacer
            button(data-smart = {
                action: "addItem",
                for: "employees",
            }) ➕
            button(data-smart = {
                action: "removeItem",
                for: "employees",
                keep_non_empty: true,
            }, title="Remove last non-empty employee") ➖
            button(data-smart = {
                action: "removeItem",
                for: "employees",
                to: "*",
                keep_non_empty: true,
            }, title="Clear all empty employee") 🧹
        .form-group.no-wrap
            .form-group(data-smart = {
                type: "list",
                exportEmpties: true,
                name: "employees",
                min_items: 0,
            folded: true,
            })
                .form-group(data-smart={
                    exportEmpties: false
                })
                    fieldset.form-group
                        .form-group.spacer.no-wrap
                            .form-group
                                .form-group
                                    label First Name
                                    input(
                                        data-smart="input"
                                        name="name"
                                        placeholder="Name"
                                    )
                                .form-group
                                    label Last Name
                                    input(
                                        data-smart="input"
                                        name="lastName"
                                        placeholder="Surnme"
                                    )
                            .spacer
                            button(data-smart = {
                                action: "removeItem",
                            }) ➖
                        .form-group
                            +inputlist("Telephones")(
                                name="phones"
                                type="tel",
                                max_items=4,
                                placeholder="Telephone",
                                removeFailback="clear"
                            )
                            +inputlist("Emails")(
                                type="email",
                                max_items=4,
                                placeholder="Email",
                                removeFailback="clear"
                            )
        .form-group.f2.no-wrap
            .spacer
            button(data-smart = {
                action: "addItem",
                for: "employees",
                autoscroll: "self",
            }) ➕
            button(data-smart = {
                action: "removeItem",
                for: "employees",
                keep_non_empty: true,
            }, title="Remove last non-empty employee") ➖
            button(data-smart = {
                action: "removeItem",
                for: "employees",
                to: "*",
                keep_non_empty: true,
            }, title="Clear all empty employees") 🧹
mixin inputlist(label="Annonymous")
    .form-group
        -
            //- Acccepted attributes:
            const {
                name=label.toLowerCase(),
                min_items,
                max_items,
                removeFailback, // none / clear / throw
                ...atts // Extra attributes for inputs (placeholder, etc...)
            } = attributes;
        label= label
        div(data-smart = {
            name: name,
            type: "list",
            of: "singleton",
            min_items,
            max_items,
        })
            .form-group.no-wrap
                button(data-smart = {
                    action: "addItem",
                }) ➕
                input(data-smart)&attributes(atts)
                button(data-smart = {
                    action: "removeItem",
                    failback: removeFailback,
                }) ➖
