doctype html
html
  head
    title=title
    meta(
        name="viewport"
        content="width=device-width, initial-scale=1"
    )
    link(rel="stylesheet", href="/css/style.css")
  body
    h1=message
    p Welcome to the future 🔮
    fieldset
        p
            label(for='title') Títol:
            input(name='title', data-smart="input")
        button(data-smart = {
            action: "addItem",
            for: "users",
        }) +
        div(data-smart = {
            type: "list",
            name: "users",
            max_items: 3,
            min_items: 1,
        })
            div
                p
                    label(for='name') Nom:
                    input(name='name', data-smart="input")
                p
                    label(for='surname') Llinatges:
                    input(name='surname', data-smart="input")
                p
                    button(data-smart = {
                        action: "addItem",
                        for: "phones",
                    }) +
                    label(for='phones') Telèfons:
                    ul(data-smart = {
                        type: "list",
                        of: "input",
                        name: "phones",
                        max_items: 3,
                        min_items: 1,
                    })
                        li
                            input(name='phone', data-smart="input" type="phone")
                            button(data-smart = {
                                action: "removeItem",
                            }) -
                button(data-smart = {
                    action: "removeItem",
                }) -

    script(
        type="module",
        src="./js/app.js",
    )


