extends layout.pug
block mainForm
    .section
        .form-group.h1
            span Company
        .form-group
            label Corporate Name
            input(
                data-smart="input"
                name="company"
                type="text"
                placeholder="Company Name"
            )
        .form-group
            label Address
            textarea(
                data-smart="input"
                name="address"
                placeholder="Address"
            )
        .form-group
            label City,State,Zip
            input(
                data-smart="input"
                name="city"
                placeholder='City'
                style='flex: 6'
            )
            input(
                data-smart="input"
                name="state"
                placeholder='State'
                style='flex:1'
            )
            input(
                data-smart="input"
                name="postCode"
                placeholder='Postal Code'
                style='flex:2'
            )
    .section
        .form-group.h2.nowrap
            span Employees
            .spacer
            button(data-smart = {
                action: "addItem",
                for: "employees",
                autoscroll: "self",
            }) ➕
            button(data-smart = {
                action: "removeItem",
                for: "employees",
                keep_non_empty: true,
            }, title="Remove last non-empty employee") ➖
            button(data-smart = {
                action: "removeItem",
                for: "employees",
                to: "*",
                keep_non_empty: true,
            }, title="Clear all empty employee") 🧹
        .form-group.nowrap
            .form-group(data-smart = {
                type: "list",
                exportEmpties: true,
                name: "employees",
                min_items: 0,
            })
                .form-group(data-smart={
                    exportEmpties: false
                })
                    fieldset.form-group
                        .form-group.spacer.no-wrap
                            .form-group
                                .form-group
                                    label First Name
                                    input(
                                        data-smart="input"
                                        name="name"
                                        placeholder="Name"
                                    )
                                .form-group
                                    label Last Name
                                    input(
                                        data-smart="input"
                                        name="lastName"
                                        placeholder="Surnme"
                                    )
                            .spacer
                            button(data-smart = {
                                action: "removeItem",
                            }) ➖
                        .form-group
                            +inputlist("Telephones")(
                                name="phones"
                                type="tel",
                                max_items=4,
                                placeholder="Telephone",
                                removeFailback="clear"
                            )
                            +inputlist("Emails")(
                                type="email",
                                max_items=4,
                                placeholder="Email",
                                removeFailback="clear"
                            )
mixin inputlist(label="Annonymous")
    .form-group
        -
            //- Acccepted attributes:
            const {
                name=label.toLowerCase(),
                min_items,
                max_items,
                removeFailback, // none / clear / throw
                ...atts // Extra attributes for inputs (placeholder, etc...)
            } = attributes;
        label= label
        div(data-smart = {
            name: name,
            type: "list",
            of: "singleton",
            min_items,
            max_items,
        })
            .form-group.no-wrap
                button(data-smart = {
                    action: "addItem",
                }) ➕
                input(data-smart="input")&attributes(atts)
                button(data-smart = {
                    action: "removeItem",
                    failback: removeFailback,
                }) ➖
