doctype html
block properties
    include ./urls.pug 
html(style='--background-image-url: url("https://picsum.photos/id/972/800.jpg");')
    head
        title=title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(rel="stylesheet", href=css_layout_url)
        link(rel="stylesheet", href=css_styles_url)
        block background_switcher
        script(defer src=js_smarkform_url)
        include ./sample_controller.pug
    body
        div.main-container
            div#main-form.smarkForm
                header
                    h1=title
                    block credits

                // BEGIN SmarkForm sample
                block mainForm
                // END SmarkForm sample
                
                footer.smarkform-badge-footer
                    a(href="https://smarkform.bitifet.net/resources/user_guide",
                      title="Learn about SmarkForm-powered forms",
                      target="_blank",
                      rel="noopener noreferrer")
                        img(src="https://cdn.jsdelivr.net/gh/bitifet/SmarkForm@latest/docs/assets/logo/smarkform_compact.svg",
                            alt="Powered by SmarkForm",
                            height="24")
