doctype html
block properties
    -
        var CDN = (
            ! isProduction ? ".."
            : `https://cdn.jsdelivr.net/gh/bitifet/SmarkForm@${pkg.version}`
        );
        var css_layout=`${CDN}/examples/smarkform_layout_sample.css`;
        var css_styles=`${CDN}/examples/smarkform_styles_sample.css`;
        var js_smarkform=`${CDN}/dist/SmarkForm.umd.js`;
html(style='--background-image-url: url("https://picsum.photos/id/972/800.jpg");')
    head
        title=title
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        link(rel="stylesheet", href=css_layout)
        link(rel="stylesheet", href=css_styles)
        block background_switcher
        script(defer src=js_smarkform)
        include ./sample_controller.pug
    body
        div.main-container
            div#main-form.smarkForm
                header
                    h1=title
                    block credits

                block mainForm
