-
    const CDN = `https://cdn.jsdelivr.net/gh/bitifet/SmarkForm@${pkg.version}`;
    const [
        css_layout_url,
        css_styles_url,
        js_smarkform_url,
    ] = [
        '/docs/_resources/examples/smarkform_layout_sample.css',
        '/docs/_resources/examples/smarkform_styles_sample.css',
        '/dist/SmarkForm.umd.js',
    ].map(path=>(
        isProduction ? `${CDN}${path}`
        : `..${path}?foo=${Math.random()}`
    ));
