extends include/layout.pug
include include/mixins.pug
block append properties
    -
        var title = "SmarkForm Complete Example";
block mainForm
    section
        .form-group.h1 Company
        .input-group
            label Corporate Name
            input(
                data-smark
                name="company"
                type="text"
                placeholder="Company Name"
            )
        .input-group
            label Address
            textarea(
                data-smark
                name="address"
                placeholder="Address"
            )
        .form-group
            label City,State,Zip
            input(
                data-smark
                name="city"
                placeholder='City'
                style='flex: 6'
            )
            input(
                data-smark
                name="state"
                placeholder='State'
                style='flex:1'
            )
            input(
                data-smark
                name="postCode"
                placeholder='Postal Code'
                style='flex:2'
            )
    section
        .form-group.h2
            span.foldButton(
                data-smark={
                    action: "fold",
                    for: "employees",
                    foldedClass: "folded",
                }
            )
            span
                span Employees (
                span(data-smark={
                    action: "count",
                    for: "employees",
                })
                span )
            .form-group
                .spacer
                button(data-smark = {
                    action: "addItem",
                    for: "employees",
                    autoscroll: "self",
                }, title="Add employee") ➕
                button(data-smark = {
                    action: "removeItem",
                    for: "employees",
                    keep_non_empty: true,
                }, title="Remove employees from bottom priorizing empties") ➖
                button(data-smark = {
                    action: "removeItem",
                    for: "employees",
                    to: "*",
                    keep_non_empty: true,
                }, title="Clear all empty employees") 🧹
        .form-group
            .form-group(data-smark = {
                type: "list",
                exportEmpties: true,
                name: "employees",
                min_items: 0,
            })
                fieldset.form-group.aside.reverse(data-smark={
                    exportEmpties: false
                })
                    button.inline(data-smark = {
                        action: "removeItem",
                    }, title="Remove this employee") ➖
                    .form-group.spacer
                        .form-group
                            .input-group
                                label First Name
                                input(
                                    data-smark
                                    name="name"
                                    placeholder="Name"
                                )
                            .input-group
                                label Last Name
                                input(
                                    data-smark
                                    name="lastName"
                                    placeholder="Surnme"
                                )
                        .form-group
                            +inputlist("Telephones")(
                                name="phones"
                                type="tel",
                                max_items=4,
                                placeholder="Telephone",
                                removeFailback="clear"
                            )
                            +inputlist("Emails")(
                                type="email",
                                max_items=4,
                                placeholder="Email",
                                removeFailback="clear"
                            )
        .form-group.f2
            .spacer
            button(data-smark = {
                action: "addItem",
                for: "employees",
                autoscroll: "elegant",
            }, title="Add employee") ➕
            button(data-smark = {
                action: "removeItem",
                for: "employees",
                keep_non_empty: true,
                autoscroll: "elegant",
            }, title="Remove employees from bottom priorizing empties") ➖
            button(data-smark = {
                action: "removeItem",
                for: "employees",
                to: "*",
                autoscroll: "elegant",
                keep_non_empty: true,
            }, title="Clear all empty employees") 🧹
    section
        .form-group
            .spacer
            button(data-smark = {
                action: "empty",
            }, title="Clear form data") ❌ Cancel
            button(data-smark = {
                action: "export",
            }, title="Submit form data") 💾 Submit
