extends include/layout.pug
include include/mixins.pug
include include/credits.pug
include include/autobackground.pug
block append properties
    -
        var title = "SmarkForm Complete Example";
        var description = `
            This example demonstrates how to create a simple form
            layout that can almost responsively expand and stack
            depending on the width of the page.
        `;
block mainForm
    section
        .form-group.h1 Company
        .input-group
            label(data-smark) Corporate Name
            input(
                data-smark
                name="company"
                type="text"
                placeholder="Company Name"
            )
        .input-group
            label(data-smark) Address
            textarea(
                data-smark
                name="address"
                placeholder="Address"
            )
        .form-group
            label(data-smark) City,State,Zip
            input(
                data-smark
                name="city"
                placeholder='City'
                style='flex: 6'
            )
            input(
                data-smark
                name="state"
                placeholder='State'
                style='flex:1'
            )
            input(
                data-smark
                name="postCode"
                placeholder='Postal Code'
                style='flex:2'
            )
    section
        .form-group.h2
            span.foldButton(
                data-smark={
                    action: "fold",
                    hotkey: "f",
                    context: "employees",
                    foldedClass: "folded",
                }
            )
            span
                span Employees (
                span(data-smark={
                    action: "count",
                    context: "employees",
                })
                span )
            .form-group
                .spacer
                button(data-smark = {
                    action: "addItem",
                    hotkey: "+",
                    context: "employees",
                    autoscroll: "self",
                }, title="Add employee")
                    span(role='img', aria-label='Append new employee') ➕
                button(data-smark = {
                    action: "removeItem",
                    hotkey: "-",
                    context: "employees",
                    keep_non_empty: true,
                }, title="Remove employees from bottom priorizing empties")
                    span(role='img', aria-label='Wisely shrink employee list') ➖
                button(data-smark = {
                    action: "removeItem",
                    hotkey: "*",
                    context: "employees",
                    target: "*",
                    keep_non_empty: true,
                }, title="Clear all empty employees")
                    span(role='img', aria-label='Remove all empty employees') 🧹
        .form-group
            .form-group(data-smark = {
                name: "employees",
                type: "list",
                exportEmpties: true,
                sortable: true,
            })
                fieldset.full-width.form-group.aside.reverse(data-smark={
                    exportEmpties: false
                })
                    button.inline(data-smark = {
                        action: "removeItem",
                        hotkey: "-",
                        failback: "clear",
                    }, title="Remove this employee")
                        span(role='img', aria-label='Remove this employee') ➖
                    .form-group.spacer
                        .form-group
                            .input-group
                                label(data-smark) First Name
                                input(
                                    data-smark
                                    name="name"
                                    placeholder="Name"
                                )
                            .input-group
                                label(data-smark) Last Name
                                input(
                                    data-smark
                                    name="lastName"
                                    placeholder="Surnme"
                                )
                        .form-group
                            label(data-smark) Sex:
                            label
                                input(data-smark, type="radio" name="sex" value="male")
                                | Male
                            label
                                input(data-smark, type="radio" name="sex" value="female")
                                | Female
                            label
                                input(data-smark, type="radio" name="sex" value="other")
                                | Other
                        .form-group
                            .input-group
                                label(data-smark) Date of Birth
                                input(
                                    data-smark
                                    type="date"
                                    name="birth"
                                    placeholder="dd/mm/yyyy"
                                )
                            .input-group
                                label(data-smark) Salary
                                input(
                                    data-smark
                                    type="number"
                                    name="salary"
                                    step=.01
                                    placeholder="Euros"
                                )
                        .form-group
                            +inputlist("Telephones")(
                                name="phones"
                                type="tel",
                                max_items=4,
                                placeholder="Telephone",
                            )
                            +inputlist("Emails")(
                                type="email",
                                max_items=4,
                                placeholder="Email",
                            )
        .form-group.f2
            .spacer
            button(data-smark = {
                action: "addItem",
                hotkey: "+",
                context: "employees",
                autoscroll: "elegant",
            }, title="Add employee") ➕
            button(data-smark = {
                action: "removeItem",
                hotkey: "-",
                context: "employees",
                keep_non_empty: true,
                autoscroll: "elegant",
                failback: "clear",
            }, title="Remove employees from bottom priorizing empties")
                span(role='img', aria-label='Wisely shrink employee list') ➖
            button(data-smark = {
                action: "removeItem",
                hotkey: "*",
                context: "employees",
                target: "*",
                autoscroll: "elegant",
                keep_non_empty: true,
            }, title="Clear all empty employees")
                span(role='img', aria-label='') 🧹
    section
        .form-group
            .spacer
            button(data-smark = {
                action:"import",
                hotkey:"i",
            }, title ="Import (JSON) data").
                #[span(role='img', aria-label='') 📂] Import
            button(data-smark = {
                action: "empty",
                hotkey:"x",
            }, title="Clear form data").
                #[span(role='img', aria-label='') ❌] Cancel
            button(data-smark = {
                action: "export",
                hotkey:"s",
            }, title="Submit form data").
                #[span(role='img', aria-label='') 💾] Submit
