extends include/layout.pug
include include/mixins.pug
include include/credits.pug
include include/autobackground.pug
block append properties
    -
        var title = "Adventure Tracking Example";
        var description = `
            This example is a draft for an excursion planning form that allows
            users to provide location, date, start and end times, and route
            details. Participants can receive personal tracking links for
            automatic position updates during the excursion, ensuring a safer
            experience and enabling quick rescue in emergencies.
        `;
block mainForm
    section
        h2 Activity
        .form-group
            label(data-smark) Title
            input(
                data-smark
                name="activity_name"
                type="text"
                placeholder="Name your planned activity..."
            )
        .input-group
            label(data-smark) Description
            textarea(
                data-smark
                name="activity_description"
                placeholder="Brief description of your activity"
            )

        h2 Planning
        label(data-smark) Origin
        .form-group(data-smark={
            type: "form",
            name: "origin",
        })
            label.inline
                span 0
                span(role='img', aria-label='') &nbsp;📌
            input(
                data-smark
                name="coordinates"
                type="text"
                placeholder='Lat, Lng'
            )
            input(
                data-smark
                name="date"
                type="date"
                placeholder='dd/mm/yyyy'
            )
            input(
                data-smark
                name="time"
                type="time"
                placeholder='hh:mm'
            )
            input(
                data-smark
                name="place"
                placeholder='Place name or address'
            )
            input(
                data-smark
                name="city"
                placeholder='City'
            )
        label(data-smark) Stops
        .form-group(data-smark={
            type: "list",
            name: "stops",
            min_items: 0,
            exportEmpties: false,
        })
            .full-width.form-group.aside
                label.inline
                    span(data-smark={action: "position"})
                    span(role='img', aria-label='') &nbsp;📌
                .form-group
                    input(
                        data-smark
                        name="coordinates"
                        type="text"
                        placeholder='Lat, Lng'
                    )
                    input(
                        data-smark
                        name="date"
                        type="date"
                        placeholder='dd/mm/yyyy'
                    )
                    input(
                        data-smark
                        name="time"
                        type="time"
                        placeholder='hh:mm'
                    )
                    input(
                        data-smark
                        name="place"
                        placeholder='Place name or address'
                    )
                    input(
                        data-smark
                        name="city"
                        placeholder='City'
                    )
                button.inline(data-smark={
                    action: "removeItem",
                    hotkey: "-",
                }, title = "Remove stop place", style="margin-left:auto")
                    span(role='img', aria-label='Remove stop place') ➖
        .form-group
            .spacer
            button.inline(data-smark={
                action: "addItem",
                hotkey: "+",
                context: "stops",
            }) #[span(role='img', aria-label='') ➕] Add Stop Place
        label(data-smark) Destination
        .form-group(data-smark={
            type: "form",
            name: "destination",
        })
            label.inline
                span(data-smark={action: "count", context: "../stops", delta: 1}) N
                span(role='img', aria-label='') &nbsp;📌
            input(
                data-smark
                name="coordinates"
                type="text"
                placeholder='Lat, Lng'
            )
            input(
                data-smark
                name="date"
                type="date"
                placeholder='dd/mm/yyyy'
            )
            input(
                data-smark
                name="time"
                type="time"
                placeholder='hh:mm'
            )
            input(
                data-smark
                name="place"
                placeholder='Place name or address'
            )
            input(
                data-smark
                name="city"
                placeholder='City'
            )
    section
        h2 Participants

        label(data-smark) Organizers
        .form-group(data-smark={
            type: "list",
            name: "organizers",
            exportEmpties: false,
        })
            .full-width.form-group.aside
                label.inline
                    span(data-smark={action: "position"})
                    span(role='img', aria-label='') &nbsp;🧑‍💼
                .form-group.spacer
                    .form-group
                        input(style='flex: 6', data-smark name="name" placeholder="Name")
                        input(style='flex: 2', data-smark name = "phone" type="tel" placeholder="Phone number")
                button.inline(data-smark={
                    action: "removeItem",
                    hotkey: "-",
                }, title = "Remove organizer", style="margin-left:auto")
                    span(role='img', aria-label='Remove organizer') ➖
        .form-group
            .spacer
            button.inline(data-smark={
                action: "addItem",
                hotkey: "+",
                context: "organizers",
            }) #[span(role='img', aria-label='') ➕] Add Organizer

        label(data-smark) Participants:
        .form-group(data-smark={
            type: "list",
            name: "participants",
            min_items: 0,
            exportEmpties: false,
        })
            .full-width.form-group.aside
                label.inline
                    span(data-smark={action: "position"})
                    span(role='img', aria-label='') &nbsp;🏃
                .form-group.spacer
                    .form-group
                        input(style='flex: 6', data-smark name="name" placeholder="Name")
                        input(style='flex: 2', data-smark name = "phone" type="tel" placeholder="Phone number")
                button.inline(data-smark={
                    action: "removeItem",
                    hotkey: "-",
                }, title = "Remove participant", style="margin-left:auto")
                    span(role='img', aria-label='Remove participant') ➖
        .form-group
            .spacer
            button.inline(data-smark={
                action: "addItem",
                hotkey: "+",
                context: "participants",
            }) #[span(role='img', aria-label='') ➕] Add Participant
    section
        .form-group
            .spacer
            button(data-smark = {
                action:"import",
            }, title ="Import (JSON) data").
                #[span(role='img', aria-label='') 📂] Import
            button(data-smark = {
                action: "empty",
            }, title="Clear form data").
                #[span(role='img', aria-label='') ❌] Cancel
            button(data-smark = {
                action: "export",
            }, title="Submit form data").
                #[span(role='img', aria-label='') 💾] Submit
