extends include/layout.pug
include include/mixins.pug
include include/credits.pug
include include/autobackground.pug
block append properties
    -
        var title = "TODO-List Example";
        var description = `
            This example shows how to create a complete TO-DO list interface
            with just a few HTML lines.
        `;
block mainForm
    section
      .form-group.h1.nowrap
        .spacer
        button(data-smark='{"action":"import","context":"tasklist"}') #[span(role='img', aria-label='') 📂] Import (JSON)
        button(data-smark='{"action":"export","context":"tasklist"}') #[span(role='img', aria-label='') 💾] Export (JSON)
      div(data-smark={
          type:"list",
          name:"tasklist",
          sortable: true,
          exportEmpties: true,
          min_items:0
      })
        fieldset.form-group.aside.reverse(data-smark={
            exportEmpties: false
        })
          button.inline(data-smark='{"action":"removeItem"}', title='Remove task')
            span(role='img', aria-label='Remove task') ❌
          .form-group.spacer
            .form-group
              span(data-smark='{"action":"position"}') /
              span &nbsp;
              input(data-smark, name='title', type='text', placeholder='Task title')
            .form-group
              +inputlist("Goals")(
                name="goals"
                type="text",
                max_items=100,
                placeholder="New goal...",
                removeFailback="clear",
                sortable=true,
              )
      .form-group.f1.nowrap(style='text-align: right')
        .spacer
        button(data-smark = {
            action: "clear",
            context: "tasklist",
            autoscroll: "elegant",
        }, title="Clear form data").
            #[span(role='img', aria-label='') ❌] Clear all
        button(data-smark = {
            action: "removeItem",
            context: "tasklist",
            target: "*",
            autoscroll: "elegant",
            keep_non_empty: true,
        }, title="Clear all empty tasks").
            #[span(role='img', aria-label='') 🧹] Clear empty
        button(data-smark='{"action":"addItem","context":"tasklist"}').
            #[span(role='img', aria-label='') ➕] Add new task


